@using trade_compas.Helpers
@model List<Review>

@if (Model.Count == 0)
{
    <div class="card text-center">
        <div class="card-body p-5">
            <h5 class="card-title">No review was found</h5>
            <p class="card-text">There is no review found for this product.</p>
        </div>
    </div>
}
else
{
    <ul class="d-flex flex-column gap-2 p-0">
        @foreach (var review in Model)
        {
            <li class="comment">
                <div class="comment_avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="comment-body">
                    <div class="comment-body__header">
                        <div class="d-flex flex-row align-items-center gap-3">
                            <strong class="m-0">@review.Author.Email</strong>
                            <div>
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <span class="fa fa-star @((i <= review.Stars) ? "text-warning" : "text-body-tertiary")"></span>
                                }
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-3">
                            @if (ViewBag.User != null && ViewBag.User.Id == review.AuthorId)
                            {
                                <a asp-action="Edit" asp-controller="Reviews" asp-route-id="@review.Id" asp-route-productId="@review.ProductId" class="btn btn-outline-primary btn-sm">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <form asp-controller="Reviews" asp-action="Delete" method="post" asp-route-id="@review.Id" asp-route-productId="@review.ProductId">
                                    <button class="btn btn-outline-danger btn-sm">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            }
                            @if (review.IsEdited)
                            {
                                <i class="m-0">(edited)</i>
                            }
                            <p class="m-0">@TimeHelper.GetRelativeTime(review.CreatedAt)</p>
                        </div>
                    </div>
                    <p>@review.Content</p>
                </div>
            </li>
        }
    </ul>
}
