@model List<Product>

@{
    ViewData["Title"] = "My products";
}

<section class="container">
    <div class="row">
        <div class="col-3">
            <nav class="list-group">
                <a asp-controller="Home" asp-action="Profile" asp-area="" class="list-group-item list-group-item-action">Public profile</a>
                <a asp-controller="Home" asp-action="MyProducts" asp-area="" class="list-group-item list-group-item-action active">Products</a>
                <a href="#" class="list-group-item list-group-item-action">Orders</a>
                <a asp-controller="Home" asp-action="MyArchive" asp-area="" class="list-group-item list-group-item-action">Archive</a>
            </nav>
        </div>
        <div class="d-flex flex-column col-8 gap-3">
            <h3>My archive</h3>
            @if (Model.Count == 0)
            {
                <div class="card text-center">
                    <div class="card-body p-5">
                        <h5 class="card-title">Archive is empty</h5>
                        <p class="card-text">There is no product found in your archive.</p>
                    </div>
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@Model[i].Name</td>
                            <td>@(string.IsNullOrEmpty(Model[i].Description) ? "-" : Model[i].Description)</td>
                            <td>$@Model[i].Price</td>
                            <td class="d-inline-flex">
                                <form asp-controller="Products" asp-action="Archive" asp-route-id="@Model[i].Id" method="post" style="width: 45px">
                                    <button class="btn btn-primary">
                                        <i class="fa-solid fa-box-archive"></i>
                                    </button>
                                </form>
                                <form asp-controller="Products" asp-action="Delete" asp-route-id="@Model[i].Id" method="post" style="width: 45px">
                                    <button class="btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>